<div class="verinfo-main" id="verinfo2">
  <h2>Segatter ver.2更新情報</h2>
  <p>投稿にコメントがつけられるようになりました！</p>
  <img class="verinfo-img" src="<%= asset_path('comment-1.png') %>">
  <br><br><br>
  <p>各種ページネーション機能を追加しました。</p>
  <img class="verinfo-img" src="<%= asset_path('pagination.png') %>">
  <br><br><br>
  <p>プロフィールからアカウント削除が可能になりました。</p>
  <img class="verinfo-img" src="<%= asset_path('account-destroy-1.png') %>">
  <br>
  <img class="verinfo-img" src="<%= asset_path('account-destroy-2.png') %>">
</div>
