<div class="verinfo-main" id="verinfo2">
  <h2>Segatter ver.3更新情報</h2>
  <p>写真をつけた投稿ができるようになりました！</p>
  <img class="verinfo-img" src="<%= asset_path('post-img-1.png') %>">
  <br><br><br>
  <img class="verinfo-img" src="<%= asset_path('post-img-2.png') %>">
  <br><br><br>
  <p>画像をクリックすると拡大できます。</p>
  <img class="verinfo-img" src="<%= asset_path('post-img-3.png') %>">
</div>
