<div class="verinfo-main" id="verinfo2">
  <h2>Segatter ver.4更新情報</h2>
  <p>フォロー機能を搭載しました。</p>
  <img class="verinfo-img" src="<%= asset_path('follow_1.png') %>">
  <br><br><br>
  <img class="verinfo-img" src="<%= asset_path('follow_2.png') %>">
  <br><br><br>
  <img class="verinfo-img" src="<%= asset_path('follow_3.png') %>">
</div>
